@model List<ManimumCD.Model.Project>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="container">
        <div class="row">
            <table class="table  table-hover table-bordered  table-sm">
                <thead>
                    <tr>
                        <th>编号</th>
                        <th>项目名称</th>
                        <th>描述</th>
                        <th>用效性</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody id="projects">
                    @foreach (var project in Model)
                    {
                        <tr class="@(project.Validate?"table-default":"table-secondary")">
                            <td>@project.ID</td>
                            <td>@project.Name</td>
                            <td>@project.Describe</td>
                            <td>@(project.Validate ? "有效" : "无效")</td>
                            <td>
                                <a href="#">
                                    <span class="oi oi-pencil small">
                                    </span>
                                </a>
                                <a href="#">
                                    <span class="oi oi-trash small">
                                    </span>
                                </a>                               
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
